aiostream==0.6.4
anyio==4.9.0
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
confluent-kafka==2.10.1
coverage==7.9.1
fastapi==0.115.13
h11==0.16.0
httpcore==1.0.9
httpx==0.27.2
idna==3.10
iniconfig==2.1.0
jq==1.9.1
loguru==0.7.3
MarkupSafe==3.0.2
packaging==25.0
pluggy==1.6.0
port-ocean==0.24.11
prometheus_client==0.21.1
pydantic==1.10.22
PyDispatcher==2.0.7
Pygments==2.19.1
pyhumps==3.8.0
pytest==8.4.1
pytest-cov==6.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
PyYAML==6.0.2
requests==2.32.4
six==1.17.0
sniffio==1.3.1
starlette==0.46.2
tomli==2.2.1
typing_extensions==4.14.0
urllib3==2.4.0
uvicorn==0.30.6
Werkzeug==3.1.3
