OCEAN__PORT__CLIENT_ID=<port_client_id>
OCEAN__PORT__CLIENT_SECRET=<port_client_secret>
OCEAN__INTEGRATION__IDENTIFIER=plain
OCEAN__PORT__BASE_URL=https://api.getport.io
OCEAN__EVENT_LISTENER__TYPE=POLLING
OCEAN__INITIALIZE_PORT_RESOURCES=true
OCEAN__INTEGRATION__CONFIG__API_TOKEN=<plain_api_key>
OCEAN__INTEGRATION__CONFIG__ENABLE_LIVE_EVENTS=false
# OCEAN__BASE_URL=https://your-public-ocean-host
# OCEAN__INTEGRATION__CONFIG__WEBHOOK_SECRET=<plain_workspace_hmac_secret>
# OCEAN__INTEGRATION__CONFIG__API_URL=https://core-api.uk.plain.com/graphql/v1
# OCEAN__INTEGRATION__CONFIG__PAGE_SIZE=100
# OCEAN__INTEGRATION__CONFIG__THREAD_STATUS_FILTER=TODO,SNOOZED,DONE
