deleteDependentEntities: true
createMissingRelatedEntities: true
enableMergeEntity: true
resources:
  - kind: /api/v2/users.json
    selector:
      query: 'true'
      method: GET
      data_path: .users
    port:
      entity:
        mappings:
          identifier: .id | tostring
          title: .name
          blueprint: '"zendesk_user"'
          properties:
            email: .email
            role: .role
            organization_id: .organization_id | tostring
            profile_url: .photo.content_url
            active: .active
            verified: .verified
  - kind: /api/v2/tickets.json
    selector:
      query: 'true'
      method: GET
      data_path: .tickets
    port:
      entity:
        mappings:
          identifier: .id | tostring
          title: .subject
          blueprint: '"zendesk_ticket"'
          properties:
            status: .status
            priority: .priority
            requester_id: .requester_id | tostring
            url: .url
            created_at: .created_at
            updated_at: .updated_at
            description: .description
  - kind: /api/v2/organizations.json
    selector:
      query: 'true'
      method: GET
      data_path: .organizations
    port:
      entity:
        mappings:
          identifier: .id | tostring
          title: .name
          blueprint: '"zendesk_organization"'
          properties:
            url: .url
            created_at: .created_at
            updated_at: .updated_at
  - kind: /api/v2/tickets/{ticket_id}/comments.json
    selector:
      query: 'true'
      method: GET
      path_parameters:
        ticket_id:
          endpoint: /api/v2/tickets.json
          method: GET
          field: .id
          filter: 'true'
      data_path: .comments
    port:
      entity:
        mappings:
          identifier: .id | tostring
          title: .body | split("\n") | first | .[0:100]
          blueprint: '"zendesk_comment"'
          properties:
            comment_id: .id | tostring
            body: .body
            html_body: .html_body
            plain_body: .plain_body
            public: .public
            author_id: .author_id | tostring
            created_at: .created_at
            type: .type
            via_channel: .via.channel
            audit_id: .audit_id | tostring
          relations:
            author: .author_id | tostring

