resources:
  - kind: project
    selector:
      query: "true"
    port:
      entity:
        mappings:
          identifier: '.uuid | gsub("[{-}]"; "")'
          title: ".name"
          blueprint: '"bitbucketProject"'
          properties:
            private: .is_private
            description: ".description"
            type: .type
            url: ".links.html.href"
  - kind: repository
    selector:
      query: "true"
    port:
      entity:
        mappings:
          identifier: ".name"
          title: ".name"
          blueprint: '"bitbucketRepository"'
          properties:
            url: ".links.html.href"
            defaultBranch: .mainbranch.name
            readme: file://README.md
          relations:
            project: '.project.uuid | gsub("[{-}]"; "")'
  - kind: pull-request
    selector:
      query: "true"
    port:
      entity:
        mappings:
          identifier: ".destination.repository.name + (.id|tostring)"
          title: ".title"
          blueprint: '"bitbucketPullRequest"'
          properties:
            creator: ".author.display_name"
            assignees: "[.participants[].user.display_name]"
            reviewers: "[.reviewers[].user.display_name]"
            status: ".state"
            createdAt: ".created_on"
            updatedAt: ".updated_on"
            link: ".links.html.href"
          relations:
            repository: ".destination.repository.name"
  - kind: file
    selector:
      query: 'true'
      files:
        path: '*/'
        filenames:
          - CODEOWNERS
        skipParsing: true
    port:
      itemsToParse: >-
        (. as $root | .content | split("\n") | map(trim) |
        map(select((test("^[[:space:]]*#") | not) and (length > 0))) | map(
            (split(" ") | map(select(length > 0))) as $tokens
            | {
                scope: ($tokens[0]),
                identifier: ($tokens[0]
                          | gsub("\\*\\*"; "doublestar")
                          | gsub("\\*"; "star")),
                owners: ($tokens[1:] | map(gsub("@" ; ""))),
                repoName: $root.repo.name,
                filePath: $root.metadata.path
            }
          )
        )
      entity:
        mappings:
          identifier: .item.repoName + "_" + .item.identifier + "_codeowners"
          title: .item.scope + " codeowners"
          blueprint: '"bitbucketCodeowners"'
          properties:
            scope: .item.scope
            location: .item.filePath
          relations:
            repository: .item.repoName
