resources:
  - kind: project
    selector:
      query: "true"
    port:
      entity:
        mappings:
          identifier: '.uuid | gsub("[{-}]"; "")'
          title: ".name"
          blueprint: '"bitbucketProject"'
          properties:
            private: .is_private
            description: ".description"
            type: .type
            url: ".links.html.href"
  - kind: repository
    selector:
      query: "true"
    port:
      entity:
        mappings:
          identifier: ".name"
          title: ".name"
          blueprint: '"bitbucketRepository"'
          properties:
            url: ".links.html.href"
            defaultBranch: .mainbranch.name
            readme: file://README.md
          relations:
            project: '.project.uuid | gsub("[{-}]"; "")'
  - kind: folder
    selector:
      query: "true"
      folders:
        - path: "*/*"
    port:
      entity:
        mappings:
          identifier: .repo.full_name + "/" + .folder.path
          title: .folder.path | split("/") | last
          blueprint: '"bitbucketRepository"'
          properties:
            url: .repo.links.html.href + "/src/" + .repo.mainbranch.name + "/" + .folder.path
            defaultBranch: .repo.mainbranch.name
  - kind: pull-request
    selector:
      query: "true"
    port:
      entity:
        mappings:
          identifier: ".destination.repository.name + (.id|tostring)"
          title: ".title"
          blueprint: '"bitbucketPullRequest"'
          properties:
            creator: ".author.display_name"
            assignees: "[.participants[].user.display_name]"
            reviewers: "[.reviewers[].user.display_name]"
            status: ".state"
            createdAt: ".created_on"
            updatedAt: ".updated_on"
            link: ".links.html.href"
          relations:
            repository: ".destination.repository.name"
