resources:
  - kind: project
    selector:
      query: "true"
    port:
      entity:
        mappings:
          identifier: '.uuid | gsub("[{-}]"; "")'
          title: ".name"
          blueprint: '"bitbucketProject"'
          properties:
            private: .is_private
            description: ".description"
            type: .type
            url: ".links.html.href"
  - kind: repository
    selector:
      query: "true"
    port:
      entity:
        mappings:
          identifier: ".name"
          title: ".name"
          blueprint: '"bitbucketRepository"'
          properties:
            url: ".links.html.href"
            defaultBranch: .mainbranch.name
            readme: file://README.md
          relations:
            project: '.project.uuid | gsub("[{-}]"; "")'
  - kind: pull-request
    selector:
      query: "true"
    port:
      entity:
        mappings:
          identifier: ".destination.repository.name + (.id|tostring)"
          title: ".title"
          blueprint: '"bitbucketPullRequest"'
          properties:
            creator: ".author.display_name"
            assignees: "[.participants[].user.display_name]"
            reviewers: "[.reviewers[].user.display_name]"
            status: ".state"
            createdAt: ".created_on"
            updatedAt: ".updated_on"
            link: ".links.html.href"
          relations:
            repository: ".destination.repository.name"
  - kind: file
    selector:
      query: 'true'
      files:
        path: '*/'
        filenames:
          - CODEOWNERS
        skipParsing: true
    port:
      itemsToParse: >-
        .content | split("\n") | map(gsub("^\\s+|\\s+$"; "")) |
        map(select(test("^[[:space:]]*#") | not)) |
        map(select(length > 0)) |
        map(
          split(" ") | map(select(length > 0)) |
          {
            scope: .[0],
            identifier: (.[0] | gsub("\\*\\*"; "doublestar") | gsub("\\*"; "star")),
            users: (.[1:] | map(select(contains("/") | not) | gsub("@"; ""))),
            teams: (.[1:] | map(select(test("^@[^ ]+/[^ ]+$")) | split("/") | .[-1]))
          }
        )
      entity:
        mappings:
          identifier: .repo.name + "_" + .item.identifier + "_codeowners"
          title: .item.scope + " codeowners"
          blueprint: '"bitbucketCodeowners"'
          properties:
            scope: .item.scope
            location: .metadata.path
            users: .item.users
            teams: .item.teams
          relations:
            repository: .repo.name
