resources:
  - kind: fake-department
    selector:
      query: 'true'
    port:
      entity:
        mappings:
          identifier: .id
          title: .name
          blueprint: '"fake-department"'
          properties:
            name: .name
            id: .id
  - kind: fake-person
    selector:
      query: '.project != null'
      batchCount: 5
      entityCount: 10
      itemsToParseEntityCount: 400
      itemsToParseEntitySizeKb: 1
      entitySizeKb: 1
      delayMs: 0
    port:
      itemsToParse: .projects
      itemsToParseName: project
      entity:
        mappings:
          identifier: .project.id
          title: .project.name
          blueprint: '"fake-project"'
          properties:
            name: .project.name
            status: .project.status
          relations:
            person: .id
  - kind: fake-person
    selector:
      query: 'true'
      batchCount: 5
      entityCount: 400
      entitySizeKb: 1
      delayMs: 0
    port:
      entity:
        mappings:
          identifier: .id
          title: .name
          blueprint: '"fake-person"'
          properties:
            name: .name
            email: .email
            status: .status
            age: .age
            department: .department.name
            bio: .bio
          relations:
            department: .department.id
  - kind: invoke-fake-webhook-event
    selector:
      query: 'true'
      batchCount: 5
      entityCount: 10
      entitySizeKb: 1
      delayMs: 0
      webhookAction: 'create'
    port:
      entity:
        mappings:
          identifier: .id
          title: .name
          blueprint: '"fake-repository"'
          properties:
            name: .name
            status: .status
            readme: file://README.md
            language: .language
            url: .url
          relations:
            person: .owner.id

  - kind: fake-repository
    selector:
      query: 'true'
      batchCount: 5
      entityCount: 50
      entitySizeKb: 1
      delayMs: 0
    port:
      entity:
        mappings:
          identifier: .id
          title: .name
          blueprint: '"fake-repository"'
          properties:
            name: .name
            status: .status
            readme: file://README.md
            language: .language
            url: .url
          relations:
            person: .owner.id
  - kind: fake-file
    selector:
      query: 'true'
      filePath: 'fake-file-with-fake-persons.json'
      entityCount: 400
      entitySizeKb: 1
      batchCount: 5
    port:
      entity:
        mappings:
          identifier: .id
          title: .name
          blueprint: '"fake-person"'
          properties:
            name: .name
            email: .email
            status: .status
            age: .age
            department: .department.name
            bio: .bio
          relations:
            department: .department.id
