resources:
  - kind: sys_user_group
    selector:
      query: 'true'
      apiQueryParams:
        sysparmDisplayValue: 'true'
        sysparmExcludeReferenceLink: 'false'
    port:
      entity:
        mappings:
          identifier: .sys_id
          title: .name
          blueprint: '"servicenowGroup"'
          properties:
            description: .description
            isActive: .active
            createdOn: '.sys_created_on | (strptime("%Y-%m-%d %H:%M:%S") | strftime("%Y-%m-%dT%H:%M:%SZ"))'
            createdBy: .sys_created_by
  - kind: sc_catalog
    selector:
      query: 'true'
      apiQueryParams:
        sysparmDisplayValue: 'true'
        sysparmExcludeReferenceLink: 'false'
    port:
      entity:
        mappings:
          identifier: .sys_id
          title: .title
          blueprint: '"servicenowCatalog"'
          properties:
            description: .description
            isActive: .active
            createdOn: '.sys_created_on | (strptime("%Y-%m-%d %H:%M:%S") | strftime("%Y-%m-%dT%H:%M:%SZ"))'
            createdBy: .sys_created_by
  - kind: incident
    selector:
      query: 'true'
      apiQueryParams:
        sysparmDisplayValue: 'true'
        sysparmExcludeReferenceLink: 'false'
    port:
      entity:
        mappings:
          identifier: .sys_id
          title: .short_description
          blueprint: '"servicenowIncident"'
          properties:
            number: .number | tostring
            state: .state
            category: .category
            reopenCount: .reopen_count
            severity: .severity
            assignedTo: .assigned_to.link
            urgency: .urgency
            contactType: .contact_type
            createdOn: '.sys_created_on | (strptime("%Y-%m-%d %H:%M:%S") | strftime("%Y-%m-%dT%H:%M:%SZ"))'
            createdBy: .sys_created_by
            isActive: .active
            priority: .priority
  - kind: release_project
    selector:
      query: 'true'
      apiQueryParams:
        sysparmDisplayValue: 'true'
        sysparmExcludeReferenceLink: 'false'
        sysparmFields: 'sys_id,number,name,type,workflow_state,description,planned_start_date,planned_end_date,actual_start_date,actual_end_date,due_date,requested_date,priority,risk,manager,requested_by,product,phases,phases_wanted,release_history,notes,short_description,parent,sys_created_on,sys_created_by,sys_updated_on,sys_updated_by,active'
    port:
      entity:
        mappings:
          identifier: .sys_id
          title: (.name // .number // "Release")
          blueprint: '"servicenowRelease"'
          properties:
            number: .number
            name: .name
            type: .type
            workflowState: .workflow_state
            description: .description
            priority: .priority
            risk: .risk
            plannedStartDate: .planned_start_date
            plannedEndDate: .planned_end_date
            createdOn: '.sys_created_on | (strptime("%Y-%m-%d %H:%M:%S") | strftime("%Y-%m-%dT%H:%M:%SZ"))'
            createdBy: .sys_created_by
            updatedOn: '.sys_updated_on | (strptime("%Y-%m-%d %H:%M:%S") | strftime("%Y-%m-%dT%H:%M:%SZ"))'
            updatedBy: .sys_updated_by
            isActive: .active
