OCEAN__PORT__CLIENT_ID="<port-client-id>"
OCEAN__PORT__CLIENT_SECRET="<port-client-secret>"
OCEAN__EVENT_LISTENER={"type": "POLLING"}
OCEAN__INTEGRATION__IDENTIFIER="my-{{ cookiecutter.integration_slug }}-integration"
# Change to your integration type once published
OCEAN__INTEGRATION__TYPE="aws"
