OCEAN__PORT__CLIENT_ID=<port_client_id>
OCEAN__PORT__CLIENT_SECRET=<port_client_secret>
OCEAN__PORT__BASE_URL=https://api.getport.io
OCEAN__INTEGRATION__IDENTIFIER=scalequality
OCEAN__EVENT_LISTENER__TYPE=POLLING
OCEAN__INITIALIZE_PORT_RESOURCES=true
OCEAN__INTEGRATION__CONFIG__SCALE_QUALITY_API_URL=https://app.scalequality.io/v1
OCEAN__INTEGRATION__CONFIG__SCALE_QUALITY_API_KEY=<sq_live_api_key>
