OCEAN__PORT__CLIENT_ID=<port_client_id>
OCEAN__PORT__CLIENT_SECRET=<port_client_secret>
OCEAN__INTEGRATION__IDENTIFIER=databricks
OCEAN__PORT__BASE_URL=https://api.getport.io
OCEAN__EVENT_LISTENER__TYPE=POLLING
OCEAN__INITIALIZE_PORT_RESOURCES=true
OCEAN__INTEGRATION__CONFIG__WORKSPACE_URL=https://<your-workspace>.cloud.databricks.com
OCEAN__INTEGRATION__CONFIG__TOKEN=<databricks_personal_access_token>
OCEAN__INTEGRATION__CONFIG__CLIENT_ID=<databricks_oauth_client_id>
OCEAN__INTEGRATION__CONFIG__CLIENT_SECRET=<databricks_oauth_client_secret>
OCEAN__BASE_URL=<base_url>
