resources:
  - kind: project
    selector:
      query: "true"
    port:
      entity:
        mappings:
          identifier: .project_id | tostring
          title: .name
          blueprint: '"harborProject"'
          properties:
            name: .name
            ownerName: .owner_name
            creationTime: .creation_time
            updateTime: .update_time
            repoCount: .repo_count
            isPublic: .metadata.public == "true"
            deleted: .deleted

  - kind: user
    selector:
      query: "true"
    port:
      entity:
        mappings:
          identifier: .user_id | tostring
          title: .username
          blueprint: '"harborUser"'
          properties:
            username: .username
            email: .email
            realname: .realname
            creationTime: .creation_time
            updateTime: .update_time
            sysadmin: .sysadmin_flag
            adminRole: .admin_role

  - kind: repository
    selector:
      query: "true"
    port:
      entity:
        mappings:
          identifier: .id | tostring
          title: .name | split("/") | last
          blueprint: '"harborRepository"'
          properties:
            name: .name | split("/") | last
            fullName: .name
            projectId: .project_id
            description: .description
            artifactCount: .artifact_count
            pullCount: .pull_count
            creationTime: .creation_time
            updateTime: .update_time
          relations:
            harborProject: ".projectId | tostring"

  - kind: artifact
    selector:
      query: "true"
    port:
      entity:
        mappings:
          identifier: .digest
          title: '(.repositoryName | split("/") | last) + ":" + (if .tags and (.tags | length) > 0 then .tags[0].name else .digest[7:19] end)'
          blueprint: '"harborArtifact"'
          properties:
            digest: .digest
            size: .size
            mediaType: .media_type
            manifestMediaType: .manifest_media_type
            pushTime: .push_time
            pullTime: .pull_time
            tags: .tags[].name
            latestTag: .tags[0].name
            vulnerabilitySeverity: '.scan_overview | to_entries | map(.value.severity) | max // "None"'
            totalVulnerabilities: ".scan_overview | to_entries | map(.value.summary.total) | add // 0"
            scanners: ".scan_overview | keys"
            type: .type
            icon: .icon
          relations:
            harborRepository: ".repository_id | tostring"
            harborProject: ".projectId | tostring"
